.plan--flight{
    padding: 10px 10%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    >div:nth-child(2){
        padding: 0 20%;
        text-align: start;
        >form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
        }
    }
}