.plan--flight{
    padding: 10px 10%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    @media (max-width:900px) {
        padding: 0;
    }
    >div:nth-child(2){
        padding: 0 20%;
        text-align: start;
        @media (max-width:800px) {
            padding: 7%;
        }
        >form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
            @media (max-width:800px) {
                width: 90%;
                align-items: center;
            }
        }
    }
}