.logos{
  width: 50px;
  height: 40px;
}
.logos img{
  width: 100%;
  height: 100%;
}
.button-links{
  padding: 20px;
  background: #E0B643;
  border-radius: 25px;
  border: none;
}
.button-links a{
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}
.button-links:hover{
  background: #FFF000;
}
.button-for-forms{
  width: 70%;
  height: 30px;
  background: #000000;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.hamburger--menu--icon{
  width: 20px;
  height: 20px;
}
.hamburger--menu--icon img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.pages{
  height: 100%;
  color: #000000;
  padding: 0;
  background: #E9EBE4;
}
.plan--flight--form{
  width: 100%;
  margin: auto;
  position: relative;
}
.plan--flight--form input{
  width: 100%;
  height: 50px;
  border: 1px solid #FFE600;
  border-radius: 20px;
  outline: none;
  padding: 10px;
}
.plan--flight--form ul{
  position: absolute;
  background: #FFFFFF;
  box-shadow: #686161 2px 5px 2px 5px;
  top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: fit-content;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
}
.plan--flight--form ul li{
  cursor: pointer;
}
.plan--flight--form ul li:hover{
  color: #FFE600;
}
.sub--heading{
  font-size: 34px;
  font-weight: 200;
  color: #FFE600;
  text-align: start;
}
.write--up{
  padding: 10px 0;
  font-size: 14px;
  color: #000000;
}
.random--images{
  width: 350px;
  height: 200px;
}
.random--images img{
  width: 100%;
  height: 100%;
}
.open{
  display: flex;
  gap: 2px;
}
.open ul{
  display: none;
}
.open::after{
  content: url('../../patricks-jet-site/src/Assets/drop--down--open.png');
  width: 5px;
  display: inline;
}
.close{
  display: flex;
}
.close ul{
  display: flex;
}
.close::after{
  content: url('../../patricks-jet-site/src/Assets/drop--down--close.png');
  width: 5px;
  display: inline;
}
.div--btn--container{
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
}
@media (max-width:900px) {
  .sub--heading{
    font-size: 24px;
    font-weight: 200;
    color: #FFE600;
    text-align: start;
  }
  .div--btn--container{
    margin: 0;
    display: block;
  }
}